@model IEnumerable<GentlemanStore.Models.SuplidoresGS>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nom_Suplidor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RNC_Suplidor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dirrec_Suplidor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tel_Suplidor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email_Suplidor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nom_Suplidor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RNC_Suplidor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dirrec_Suplidor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tel_Suplidor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email_Suplidor)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_Suplidor }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_Suplidor }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Suplidor })
        </td>
    </tr>
}

</table>
