@model GentlemanStore.Models.SubCategoriaGS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SubCategoriaGS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreSubcategoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreSubcategoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoriaGS.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoriaGS.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_SubCategoria }) |
    @Html.ActionLink("Back to List", "Index")
</p>
